body {
	/* background:url(../images/body-bg.jpg) 60% 0 no-repeat #000; */ background-color: #000;

	font-size:96%;
}

.inner {
	background: #ffffff;
}
 
 
/* --------------------------------------------------
Grid
-------------------------------------------------- */
.row { max-width: 75em; }

a { color:#ff004e; }

a:hover, a:visited	 {
	color:#ff004e;
	text-decoration:underline;
}

nav ul li a, .top-bar-section ul li > a {
	font-family: 'Play', sans-serif;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-size: 16px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: none;
	color: #ff004e;
}

.cfooter {
	color:#ffffff;
	font-size:11px;
}

.cfooter { color:#999; }
.cfooter a { color:#ffffff; }
.cfooter a:hover { color:#ffffff; text-decoration:underline; }

.top-bar, 
.top-bar-section ul, 
.top-bar-section ul li, 
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
	background:#000;
}

.searchBtn { 
	background:#fff; 
	color:#000; 
	border-top-right-radius: 20px; 
	border-bottom-right-radius: 20px; 
	height:37px; 
	border-right:1px solid #333 !important;
	border-top:1px solid #333 !important;
	border-bottom:1px solid #333 !important;
}

.searchTextField {
	background:#000000 !important;
	border-top:1px solid #333 !important;
	border-left:1px solid #333 !important;
	border-bottom:1px solid #333 !important;
	color:#aaa !important;
}

.reveal-modal {width:100%;}

button, .button {
	border-radius: 5px;
	background-color: #333333;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #111; 
}

.pricing-table { border:1px solid #666666; margin-bottom:0px; }
.pricing-table .title, .pricing-table .bullet-item { padding:4px;  font-size:12px; text-align:left; padding-left:15px; }
.pricing-table .bullet-item { background:#fff; color: #666666; }

.content .row {
	padding:5px 0;
}

#flashModal .scroll {
    height: 200px;
    overflow: auto;
    padding: 0px 15px 0px 10px;
    border: 1px solid #CCC;
    margin: 0px auto;
    text-align: left;
}
